/* main page, nav bar colors*/
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #a28089;;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #d0bdf4;
}

.main-bg {
    background: url(/static/media/concert.jpg) 0 no-repeat fixed;
}

.card {
    border: none;
    background-color: transparent;
}


.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

/* reservation_list(homepage) css */

#purple {
    background-color: #d0bdf4;
    text-align: center;

}

/*header decoration*/

.brand-header {
    font-family: Lato, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #4A4A4F;
    
}

.red-o-header {
    color: #a28089;
    font-size: 55px;
}

.thin-Header {
    font-weight: 300;
}


.reserve_detail {

    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    

}

.brand-info {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    
}

.list_title {

    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;

}

/*front page reservation list buttons */

.button-create {

        font-style: normal;
        font-family: 'Lato', sans-serif;
        font-size: 50px;
        font-weight: 10;
        text-decoration: none;
        text-align: center;
    
    }


 .buttonfunny {

    
        margin-left: auto;
        margin-right: auto;
        
        
    
    }


/*create create button position*/

.create {

    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 10;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    
    

}

/* reservation details three buttons*/
.button-detail {

    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 10;
    text-decoration: none;
    text-align: center;

}


.buttonf {

    text-align: center;
    margin-left: 22%; 
    
    
    

}
.reservation {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    color: #a28089;
    list-style-type: none;
    
}

.reserve_title {
    font-size: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    color: white;
    
}

/* reservation_detail css */

.info {
    font-size: 40px;
    text-align: center;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    color: white;
    font-weight: bolder;

}

.register {

    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 10;
    color: #a28089;
    text-decoration: none;
    margin-inline-start: 17%;   

}

#button-postion {

    display: flex;
    
}








/* reservation_form css */

.new_reservation {

    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;

}

/* form labels */

label {
    color: white;
    font-weight: bold;
    display: block;
    font-size: 30px;
  }

form {

    text-align: center;
}


/*home image */

.eventpeople {

   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   margin-top: 20px;
}

/* nav and button hover*/


a:hover {
    background-color: #04AA6D; /* Green */
    color: white;
  }

button:hover {
    background-color: #04AA6D; /* Green */
    color: white;


}
  
/*media query over 768px */
@media (min-width: 768px) {
    
    .create {

        font-style: normal;
        font-family: 'Lato', sans-serif;
        font-size: 65px;
        font-weight: 10;
        color: #a28089;
        text-decoration: none;
        text-align: center; 
        margin-left: 450px;
        
    
    }
  }

  @media (max-width: 280px) {

    .create {

        font-style: normal;
        font-family: 'Lato', sans-serif;
        font-size: 55px;
        font-weight: 10;
        color: #a28089;
        text-decoration: none;
        text-align: center; 
        
        
    
    }

  }

  @media (min-width: 768px) {

  .register {

    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 10;
    color: #a28089;
    text-decoration: none;
    margin-inline-start: 17%;   

}

  }