/* main page, nav bar colors*/
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #a28089;;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #d0bdf4;
}

.main-bg {
    background-image: url("/static/media/concert.jpg") 50% 0 no-repeat fixed;
    
}

.card {
    border: none;
    background-color: transparent;
}


.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

/* reservation_list(homepage) css */

#purple {
    background-color: #d0bdf4;

}


.reserve_detail {

    font-size: 50px;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    

}

.subtitle {

    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    color: black;
    font-family: Lato, sans-serif;
    font-weight: bold;
    

}

.list_title {

    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: #522a35;
    font-family: 'Lato', sans-serif;

}

.create {

        font-style: normal;
        font-family: 'Lato', sans-serif;
        font-size: 70px;
        font-weight: 10;
        text-decoration: none;
        text-align: center;
        
        
    
    }


 .buttonfunny {

        font-style: normal;
        font-family: 'Lato', sans-serif;
        font-size: 50px;
        font-weight: 10;
        color: black;
        text-decoration: none;
        
        
    
    }



.reservation {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: #a28089;
    list-style-type: none;
    
}

.reserve_title {
    font-size: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    
}

/* reservation_detail css */

.info {
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    list-style-type: none;

}

.register {

    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 10;
    color: #a28089;
    text-decoration: none;
    margin-inline-start: 17%;   

}

#button-postion {

    display: flex;
    
}








/* reservation_form css */

.new_reservation {

    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
}

/*media query over 768px */
@media (min-width: 768px) {
    
    .create {

        font-style: normal;
        font-family: 'Lato', sans-serif;
        font-size: 65px;
        font-weight: 10;
        color: #a28089;
        text-decoration: none;
        text-align: center; 
        margin-left: 200px;
        
    
    }
  }

  @media (max-width: 280px) {

    .create {

        font-style: normal;
        font-family: 'Dancing Script', cursive;
        font-size: 55px;
        font-weight: 10;
        color: #a28089;
        text-decoration: none;
        text-align: center; 
        
        
    
    }

  }

  @media (min-width: 768px) {

  .register {

    font-style: normal;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: 10;
    color: #a28089;
    text-decoration: none;
    margin-inline-start: 17%;   

}

  }