{% extends "base.html" %}
{% block content %}
    <h2 class = 'reserve_title'>{{ reservation.title}}</h2>
    <p class = 'info'>Date: {{ reservation.date }}</p>
    <p class = 'info'>Description: {{ reservation.description }}</p>
    <p class = 'info' >Time: {{ reservation.time }}</p>
    <p class = 'info'>Location: {{ reservation.location }}</p>
    <p class = 'info'>Image: {{ reservation.image }}</p>
    <h3 class = 'reserve_title'>Clients</h3>
    <ul>
        {% for client in clients %}
            <li class = 'info'>{{ client.user.username }}</li>
        {% empty %}
            <li class = 'info'>No Clients yet.</li>
        {% endfor %}
    </ul>
    <button type = "delete">Delete</button>
    {% if user.is_authenticated %}
        {% if user == reservation.organizer %}
            <a class = 'register' href="{% url 'create_reservation' %}"><button>Create Reservation</button></a>
        {% endif %}
    {% else %}
        <p class = 'info' >Please log in to create your own event.</p>
        <a class = 'register' href="{% url 'register_reservation' reservation.id %}"><button>Create a Reservation</button></a>
    {% endif %}
    {% endblock %}