{% extends 'event/base.html' %}
{% block content %}
    <h2>{{ reservation.place}}</h2>
    <p>Date: {{ reservation.date }}</p>
    <p>Time: {{ reservation.service }}</p>
    <p>Location: {{ reservation.time }}</p>
    <h3>Clients</h3>
    <ul>
        {% for client in clients %}
            <li>{{ client.user.username }}</li>
        {% empty %}
            <li>No Clients yet.</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        {% if user != event.organizer %}
            <a href="{% url 'register_reservation' reservation.id %}">Register for Event</a>
        {% endif %}
    {% else %}
        <p>Please log in to register for this event.</p>
    {% endif %}