{% extends "base.html" %}
{% block content %}
{% load static %}
    <div id = 'purple'><h2 class ="reserve_detail" >Create a Personlised Event at Event 101! </h2>
    <h3 class ="subtitle">Located in Gotham, events hall.</h3></div>
    <h4 class ="list_title">List of upcoming events: </h4>
   <div id = 'reserve_list'><ul>
        {% for reservation in reservations %}
            <li class ='reservation'>
                <a class = 'buttonfunny' href="{% url 'reservation_detail' reservation.id %}"><button>{{ reservation.title }}</a></button>
            </li>
            
        {% empty %}
            <li class ="buttonfunny">No reservations found.</li>
        {% endfor %}
    </ul></div> 
{% endblock %}